.btn {

    display: inline-block;

    text-align: center;

    padding: 8px 14px;

    background: var(--color-primario);

    color: var(--color-texto);

    text-decoration: none;

    border-radius: 6px;

    transition: 0.2s;

}

.btn:hover {

    opacity: 0.8;

}