.card-horizontal {

    display: flex;

    align-items: flex-start;

    gap: 30px;

    background: var(--color-superficie);

    padding: 30px;

    border-radius: 15px;

    max-width: 900px;

    margin: 40px auto;

}

.card-horizontal--info {

    display: flex;

    flex-direction: column;

    gap: 10px;

}

.card-horizontal--division {

    border-bottom: 1px solid var(--color-texto-suave);
    
    padding-bottom: 15px;

}